:root {
    color-scheme: light dark;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: light-dark(#f5f5f5, #0a0a0a);
    color: light-dark(#0a0a0a, #f5f5f5);
}

.fa-github {
    color: light-dark(#000, #fff);
}

.fa-bitcoin {
    color: #f7931a;
}